body {
    min-width: 100vh;
}
/* header */
h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}
h1
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
li {
    display:inline-block;
    margin-left: 0;
    margin-right: 0;
}
img {
    display: block;
}
.ul {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1158px;
padding: 0 15px;
margin: 0 auto;
}
.logo-link{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    
}
.logo-studio-page {
font-weight: 700;
line-height: 21px;
letter-spacing: 0.54px;
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    text-transform: uppercase;
    margin: 0 auto;
    width: 71px;
}
.header-page {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
background: var(--WHITE, #FFF);
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-page .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-nav {
    display: flex;
    align-items: center;
}
.nav-list {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 40px; 
}
.nav-list:hover,
.nav-list:focus {
  color: #404bbf;
}
.nav-list-link-studio::after {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
 border-radius: 2px;
 left: 0;
 background-color: #404bbf;
 color: #404bbf;
}
.nav-list-link-contacts {
    color: var(--NAVY-BLUE, #2E2F42);
}
.nav-list-link-studio {
    display: flex;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
    padding-bottom: 20px;
    align-items: center;
    padding: 24px 0;
    
}
    
.nav-items {
    display: block;
}

.nav-items:last-child {
    margin-right: 0;
}
.nav-list-link {
    display: flex;
    padding: 24px 0;
}
.nav-items {
    display: block;
}

.nav-list-link-portfolio {
    color: var(--NAVY-BLUE, #2E2F42);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-contacts {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.body-page{
    color: #434455;
background: var(--WHITE, #FFF);
font-family: "Roboto", sans-serif;
}
/* main page */

.main-section {
    background: var(--NAVY-BLUE, #2E2F42);
    padding: 188px 0;
   background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people-office1.jpg);
max-width: 1440px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin: 0 auto;
}
.section-page:hover,
.section-page:focus{
 color:  #404bbf;
}
.adress-contacts {
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.contacts-list-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list .link:hover,
.contacts-list .link:focus {
  color: #404bbf;
}

.section-page-item {
    color: var(--WHITE, #FFF);
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
display: block;
align-items: center;
max-width: 496px;
margin: 0 auto;
margin-bottom: 48px;
}
.button-item {
background: var(--IRIS, #4D5AE5);
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
font-size: 16px;
min-width: 169px;
height: 56px;
display: block;
padding: 16px 32px;
margin: 0 auto;
border: none;
border-radius: 4px;
transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttom-item:hover,
.buttom-item:focus {
    background-color: #404BBF;
}

/* Our Benefits */
.visually-hidden {
 display: none;
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}

.benefits-page {
    background: #FFF; 
    padding: 120px 0;
}
.benefits-list {
    display: flex;
    gap: 24px;
    justify-content: flex-start;
    flex-grow: calc2((100% - 3 * 24px) / 4);
}

.benefits-list-item {
    color: var(--NAVY-BLUE, #2E2F42);
font-family: "Roboto", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
display: flex;
flex-direction: row;
margin-bottom: 8px;
width: 264px;
}
.benefits-list-p {
    color: var(--SLATE, #434455);
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.32px;
width: 264px;
height: 72px;
}


.benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;

}

/* Our team */
.section-team {
    background: var(--CLOUD, #F4F4FD);
    padding: 120px 0 120px 0;
}

.our-team {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.72px;
text-transform: capitalize;
line-height: 1.11;
margin-bottom: 72px;
}
.our-team-list {
    display: flex;
    gap: 24px;
    align-items: flex-start;
justify-content: center;
flex-direction: row;
}
.our-team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.staff-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.staff-profesion {
    text-align: center;
}
.our-team-list-name {
    padding: 32px 0;
    display: flex;
width: 232px;
display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;

}
.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
}
.team-list-title {
    width: 40px;
    height: 40px;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-svg {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.team-svg:hover,
.team-svg:focus {
    background-color:  #404bbf;
}
.svg {
    fill: #f4f4fd;
}





.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.staff-profesion {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    border-bottom: 120px;
}
.portfolio-page {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
font-family: "Roboto" sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;
text-align: center;
margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}
.portfolio-title {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.portfolio-title-list {
    background-color: #ffffff;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
}
.portfolio-title-item {
    line-height: 1.5;
}
.portfolio-list-item:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-box {
    position: relative;
    overflow: hidden;
}
.portfolio-list-item:hover .portfolio-text,
.portfolio-list-item:focus .portfolio-text {
    transform: translate(0%);
}
.portfolio-text {
    position: absolute;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
    color: #F4F4FD;
}
    

/* Footer */
.footer-page {
    background: var(--NAVY-BLUE, #2E2F42);
    height: 312px;
    flex-shrink: 0;
    padding: 100px 0 100px;
}
.footer-page-item {
    color: var(--CLOUD, #F4F4FD);
font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.2em;
}
.logo {
    color: var(--IRIS, #4D5AE5);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
display: inline-block;
margin-bottom: 16px;


}
.logo-studio {
    color: var(--CLOUD, #F4F4FD);
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.54px;
text-transform: uppercase;
line-height: 1.17;

}
.footer-page .container {
    display: flex;
    align-items: baseline;
}
.footer-main {
    margin-right: 120px;
}




.social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;   
}
.footer-list {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.footer-title {
    width: 40px;
    height: 40px;
}
.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
     background-color: #31d0aa;
}
.svg-footer {
    fill: #f4f4fd;
}
.main-modal {
    position: fixed;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
}
.modal {
    position: absolute;
    width: 408px;
    min-height: 584px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: #fcfcfc; 
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
padding: 72px 24px 24px 24px;
}
.modal_btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    height: 24px;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
width: 24px;
}

.modal_btn:hover,
.modal_btn:focus {
    background-color: #404bbf; 
    border: none;
}
.modal_btn_close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal_btn:hover .modal_btn_close, 
.modal_btn:focus .modal_btn_close {
    fill: #ffffff;
}




.form-paragraph {
    color: #2E2F42;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.form-title-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    line-height: 1.17;
}
.input-name {
    border: 1px solid rgba(46, 47, 66, 0.4); 
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-name:focus {
    border-color: #4D5AE5;
}

.input-name:focus + svg {
    fill: #4D5AE5;
}
.svg-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    fill: #2E2F42;
}

.form-title-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.40);
}
.form-title {
    margin-bottom: 8px;
}

.input-name:focus .svg-icon {
     fill: #4D5AE5;
}
.form-name-item {
    position: relative;
}
.textarea-wrapper {
    margin-bottom: 16px;
}
.form-textarea {
    color: rgba(46, 47, 66, 0.4);
width: 100%;
height: 120px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent; 
padding: 8px 16px;
outline: transparent;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.form-textarea:focus {
    border-color: #4D5AE5;
}
.review-form-check-box-wrapper {
    margin-bottom: 24px;
}

.review-form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}
.checkbox-policy {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 2px;
    width: 16px;
     height: 16px;

}


.review-form-checkbox:checked + .review-form-checkbox-label .checkbox-policy {
    border: none;
    background-color: #404bbf;
    fill: #f4f4fd;
}
.policy-item {
    color: #4d5ae5;
}

.button-active {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
margin: 0 auto;
}
.paragraph-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.form-subscribe {
    display: flex;
    gap: 24px;
}
.input-form-subscribe {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff; 
}
.button-first {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor:pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
.button-first:hover,
.button-first:focus {
    background-color: #404bbf;
}
.svg-button {
    margin-left: 16px;
}







@media screen and (max-width: 767px) {

    .header-page {
        padding: 16px 0;
    }

    .nav-list,
    .adress-contacts {
        display: none;
    }
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
    .main-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/dark-bgtablet@2x.jpg);
    }
}
@media Screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    ul {
        flex-direction: row;
    }

    /* NAV */

    .header-page {
        padding: 0;
    }

    .page-nav {
        display: flex;
        align-items: center;
    }

    .logo-link {
        margin-right: 120px;
    }

    .nav-list-link {
        display: block;
        padding: 24px 0;
        position: relative;
        color: #2E2F42;
        transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }

    .active::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 48px;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .nav-items {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .adress-contacts {
        display: flex;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .contacts-list {
        flex-direction: column;
        gap: 12px;
    }

    .contacts-list-link {
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;

        transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }

    .active,
    .nav-list-link:hover,
    .nav-list-link:focus,
    .contacts-list-link:hover,
    .contacts-list-link:focus {
        color: #404bbf;
    }

    .burger-overlay,
    .burger-menu-btn {
        display: none;
    }
}


@media screen and (min-width: 768px) and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
    .main-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/dark-bgtablet@2x.jpg);
    }


.section-page-item {
    width: 496px;
text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--WHITE, #FFF);
}

.benefits-list-item {
    text-align: start;
}

.benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    row-gap: 72px;
}

.benefits-page-list {
    max-width: 356px;
    width: calc((100% - 24px) / 2);
}

.our-team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
    max-width: 1157px;

}

.our-team-list-item {
    width: 264px;
}

.portfolio-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
}

.portfolio-list-item {
    width: 356px;
}


/* FOOTER */

.footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: inherit;
    gap: 0;

    padding: 0 108px;
}
.footer-main {
    display: inline-block;
    width: 264px;
    margin-right: 24px;
    margin-bottom: 72px;
}
.social {
    align-items: flex-start;
}
.social-text {
    text-align: start;
}



.form-subscribe {
    flex-direction: row;
}

/* //FOOTER */

.form-paragraph {
    width: 360px;
}
}





    /* ///NAV */


    .main-section {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/dark-bg\ .tablet.jpg);
    }


    @media Screen and (min-width: 1158px) {

        .container {
            width: 1158px;
            padding: 0 15px;
        }
    
        .section {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    
        .logo {
            margin-right: 76px;
        }
    
        .contacts-list {
            flex-direction: row;
            gap: 40px;
        }
    
        .contacts-list-link {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
    
        .main-section {
            max-width: 100%;
            padding: 188px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                    rgba(46, 47, 66, 0.70)),
                url(../images/people-office1.jpg);      
        }
    }

    @media screen and (min-width: 1158px) and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
        .main-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                    rgba(46, 47, 66, 0.70)),
                url(../images/people-office\ 1@2x.jpg);
      }
   

    .benefits {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        background: #F4F4FD;
        margin-bottom: 8px;
        width: 264px;
    }

    .benefits-page-list {
        width: calc((100% - 72px) / 4);
    }

    .benefits-list-item {
        font-weight: 500;
        line-height: 1.2;
        font-size: 20px;
    }

    .benefits-list-p {
        font-weight: 400;
    }

    .our-team-list-item {
        width: calc((100% - 72px) / 4);
    }

    .portfolio-list-item {
        width: calc((100% - 48px) / 3);
    }

    .footer-container {
       gap: 0;
        flex-wrap: nowrap;
        width: auto;
    }

    .footer-main {
        display: block;
        margin-right: 120px;
    }

    .social {
        margin-right: 80px;
    }

    .input-form-subscribe {
        width: 264px;
        line-height: 2;
        color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(255, 255, 255, 1.0);
    }

    .input-form-subscribe::placeholder {
        color: #fff;
    }
}







.footer-page .container {
    display: flex;
    align-items: baseline;
    flex-direction: row;

    
}






.footer-main{
    
}
.footer-page-item {
   width: 264px;
   margin-right: 156px;
 }

.form-subscribe {

        display: flex;
        flex-direction: row;
        gap: 24px;
    }









    .benefits-list {
        flex-wrap: nowrap;
    }
    .benefits-page-list {
        width: calc((100% - 72px) / 4);
        
    }
    
    .benefits {
        display: flex;
    }
    .svg-benefits {
        display: block;
    }
    .benefits-list-item {
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.4px;
        text-transform: none;
    }
    .benefits-list-p {
        font-weight: 400;
    }

